{% extends "templates/web.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %}<h2>{{ title }}</h2>{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-8">

        <div class="form-group">
            <input class="form-control" name="email" type="email" placeholder="Insert your email" />
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-create-conversation">Create Conversation</button>
        </div>

        <div class="form-group">
             <textarea class="form-control" id="history" name="history" rows="15" readonly></textarea>
        </div>

        <div class="form-group">
            <input class="form-control" name="message" type="text" placeholder="Your message" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-send-message">Send Message</button>
        </div>

    </div>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
    var socket;
    if (window.location.protocol == "https:") {
   		socket = io.connect(get_host(), {secure: true});
	}
	else if (window.location.protocol == "http:") {
		socket = io.connect(get_host());
	}

    var text_area_msg = document.getElementById("history");

    function setListener(event){
        socket.on(event, function(data){
            // Formats the message and prints it on the text area
            text_area_msg.value += "\n";
            var d = data.date_sent.split(/[- T : . Z]/);

            var date = new Date(d[0], d[1], d[2], d[3], d[4], d[5]);
            var msg_frm = date + " - " + data.sender + ": " + data.text;
            text_area_msg.value += msg_frm;

            // Scroll down the text area when a new message is received
            $('#history').scrollTop($('#history').height());
        });
    }

    function get_host() {
		var host = window.location.origin;
		if(window.dev_server) {
			var parts = host.split(":");
			var port = '3000';
			if(parts.length > 2) {
				host = parts[0] + ":" + parts[1];
			}
			host = host + ":" + port;
		}
		return host;
	}

</script>
<script>
	{% include "templates/includes/chat.js" %}
</script>
{% endblock %}